{% extends 'expenses/base.html' %}
{% block head %}
    <style>
        .red {
            color: red;
        }
        .green {
            color: green;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Completed transactions</h2>
    {% if show_all %}
        <p>You're currently viewing <strong>all</strong> transactions.</p>
        <a href="?show_all=false">Hide incomplete</a>
    {% else %}
        <p>You're only seeing <strong>completed</strong> transactions.</p>
        <a href="?show_all=true">Show all</a>
    {% endif %}
        <a href="{% url 'create_transaction' %}">Create new </a>
    <table>
        <tr>
            {% for transaction in object %}
            {% if transaction.account == 'S' %}    
                <p class="red">-<p><td class="red">{{ transaction.sum }}</td>
            {% else %}   
                <td class="green">{{ transaction.sum }}</td>
            {% endif %}
                <td>{{ transaction.date_completed }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.category }}</td>
                
            {% if transaction.status == 'E' or 'P' %}    
                <td>{{ transaction.date_expected }}</td>
                <td>{{ transaction.status }}</td>
                <td>{{ transaction.date_created }}</td>
            {% endif %}
   
            {% endfor %}
        </tr>
    </table>
{% endblock %}